#time{
    color: rgb(255, 255, 255);
    text-align: center;

}
#name{
    font-size: 4.5em;
    color: #fff;
}
#time span{
    font-size: 2.5em;
}
.mood{
    text-align: center;
    padding-top: 100px;
    font-weight: 1200;
}

#getMood{
    width: 250px;
    background-color: rgba(255, 255, 255, 0.081);
    border: none;
    border-radius: 0.5em;
    /* height: 35px; */
    padding: 10px;
    color: #fff;
}
::placeholder { 
    color: rgba(225, 217, 217, 0.772);
    opacity: 1;
  }

button {
    padding: 10px;
}

.btns{
    text-align: center;
    padding-top: 20px;
}